@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Kaoly+Demo&display=swap');

@font-face {
  font-family: 'Kaoly';
  src: url('/fonts/Kaoly.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Kaoly Demo', serif;
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: 'Kaoly', serif;
}