@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Bodoni Moda', 'Bodoni', serif;
}